<nav class="navbar is-warning">
    <div class="navbar-brand">
        <div class ="content is-large">
            <a class="button is-tab is-large is-danger" href="/start"> Weathertop </a>
        </div>
    </div>
    <div class="navbar-menu">
        <div class="navbar-end">
            <a id="signup" class="navbar-item is-tab" href="/signup"> Sign Up</a>
            <a id="login" class="navbar-item is-tab" href="/login">Log In</a>
        </div>
    </div>
</nav>

<script>
    $("#${_id}").addClass("has-background-success has-text-white");
</script>