#{extends 'main.html' /}
#{set title:'About' /}
#{menu id:"about"/}

<div class="content box">
  <p class="title has-text-centered">
    About the WeatherTop App
  </p>
  <div class="columns">
    <div class="column is-1">
    </div>
    <div class="column is-4">
      <table class ="table is-hoverable is-striped">
        <tbody>
          <tr>
            <td>

            Monitor latest weather station readings!
            </td>
          </tr>
          <tr>
            <td>
              Impress your friends!
            </td>
          </tr>
          <tr>
            <td>
              Woo your signficant other!
            </td>
          </tr>
          <tr>
            <td>
              Fall for blatant advertising lies!
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="column is-5">
      <figure class="image is-square">
        <img src="../../public/images/weathertop-watch-tower.jpg" alt="weatherTop logo">
      </figure>
    </div>
  </div>
</div>