#{extends 'main.html' /}
#{set title:'Dashboard' /}
#{menu id:"dashboard"/}

#{list items:stations, as:'station'}
<div class="content box">
  #{stationoverview station:station /}
  <div class="columns is-centered">
    <div class="column is-narrow">
      <a href="/station/${station.id}">
        <span class="icon has-text-info">
          <i class="fa-solid fa-folder-open"></i>
        </span>
      </a>
    </div>
    <div class="column is-1">
    </div>
    <div class="column is-narrow">
      <a href="/dashboard/deletestation/${station.id}">
        <span class="icon has-text-danger">
          <i class="fa-solid fa-trash-can"></i>
        </span>
      </a>
    </div>
  </div>
</div>
#{/list}
#{addstation /}
