#{extends 'main.html' /}
#{set title:'Signup' /}
#{welcomemenu id:"signup"/}

<section class="content box">
  <div class="columns">
    <div class="column is-6">
      <form action="/register" method="POST">
        <h1 class="subtitle is-underlined">Register</h1>
        <br>
        <div class="field is-horizontal field-body">
          <div class="field">
            <label class="label is-medium">First Name</label>
            <p class="control is-expanded">
              <input class="input" type="text" placeholder="John" name="firstname">
            </p>
          </div>
          <div class="field">
            <label class="label is-medium">Surname</label>
            <p class="control">
              <input class="input" type="text" placeholder="Smith" name="surname">
            </p>
          </div>
        </div>
        <div class="field">
          <label class="label is-medium">Email</label>
          <input class="input" placeholder="test@test.com" name="email">
        </div>
        <div class="field">
          <label class="label is-medium">Password</label>
          <input class="input" placeholder="test" type="password" name="password">
        </div>
        <br>
        <button class="button is-link is-info">Submit</button>
      </form>
    </div>
    <div class="column is-6">
      <figure class="image is-square">
        <img src="../../public/images/weather1.jpg" alt="Sunset reflected off a lake with a small island of trees">
      </figure>
    </div>
  </div>
</section>