#{extends 'main.html' /}
#{set title:'WeatherTop: Start' /}

#{welcomemenu id:"start"/}

<div class="content box">
  <p class="title is-info has-text-centered">
    Welcome to the WeatherTop App
  </p>
  <div class="columns">
    <div class="column is-1">
    </div>
    <div class="column is-5">
      <h4>
        Please Log In or Sign Up using the menu buttons.
      </h4>
    </div>
    <div class="column is-5">
      <figure class="image is-square">
        <img src="../../public/images/weather-instrument.jpg" alt="Weather instrument image">
      </figure>
    </div>
  </div>
</div>
